.main {
    position: relative;
  }
  
  .background-image {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://img.freepik.com/premium-vector/internet-connection_41981-447.jpg?w=900');
    background-size: cover;
    opacity: 0.8;  */
  }
  